GOOGLE_CLIENT_ID=502849551269-ghr4pj3nvsk0jb56uncbng0beu9esvd0.apps.googleusercontent.com
GOOGLE_API_KEY=gemini-llm-api-key

MONGO_URI=mongodb://localhost:27017
DB_NAME=design_agent_db

FRONTEND_URL=http://localhost:3000