# System Design Report

### User Input
{{ data.user_input }}

{{ data.requirements }}

{{ data.constraints }}

{{ data.architecture }}

{{ data.tech_stack }}

{{ data.design_bundle }}

**Final Score**: {{ data.final_score * 100 }}{{'%'}}